Package: com.vladkorotnev.istartupmovie
Name: iStartupMovie
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Vladislav Korotnev
Author: Vladislav Korotnev
Section: Tweaks
