Package: com.vladkorotnev.istartupmovie
Name: iStartupMovie
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Like iStartupSound, but for videos
Maintainer: Vladislav Korotnev
Author: Vladislav Korotnev
Section: Tweaks
